body {
  background-color: lightgoldenrodyellow;
  position: relative;
}

.container {
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
  outline: 2px solid goldenrod;
}

.page-header {
  background-color: palegreen;
  text-align: center;
}

.page-header__title {
  font-size: 22px;
  padding: 10px 40px 0;
}

.page-header__nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 30px;
  padding-bottom: 20px;
}

.page-header__nav button {
  width: 30%;
}

@media screen and (max-width: 1200px) {
  canvas {
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
    display: block;
  }
}

canvas {
  outline: 2px solid goldenrod;
}

.game__info {
  display: flex;
  justify-content: space-between;
  background-color: palegreen;
  padding: 20px 15px;
}

.game__status span {
  display: block;
}

.game__controls {
  width: 50%;
  display: flex;
  justify-content: space-between;
}

.game__controls button {
  width: 33%;
}

#IProgress {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -100px;
}

.popUp {
  display: block;
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  margin-left: -150px;
  max-width: 300px;
  width: 100%; 
} 

.popUp:after {
  position: fixed;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0,0,0,0.8);
  z-index: -2;
}

.popUp:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: lightseagreen;
  border: 2px solid goldenrod;
  z-index: -1;
}

.messageContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.input {
  width: 90%;
  box-sizing: border-box;
  margin-bottom: 15px;
  padding: 5px 15px;
}

.btn__popup{
  margin-bottom: 15px;
  padding: 5px 10px;
}